<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XFDataManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="dblocal" connectionString="Data Source=XRIG001\SQLEXPRESS;Initial Catalog=XFDM2;Integrated Security=True;Multiple Active Result Sets=False;Connect Timeout=30;Encrypt=False;Trust Server Certificate=True;Command Timeout=300" />
        <add name="dbcloud" connectionString="Server=tcp:xericdbserver.database.windows.net,1433;Initial Catalog=XFDM2;Persist Security Info=False;User ID=XericApp;Password=SnickerD00dl3;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=45;" />
        <add name="XFDataManager.Properties.Settings.dblocal" connectionString="Data Source=XRIG001\\SQLEXPRESS;Initial Catalog=XFDM2;Integrated Security=True;Multiple Active Result Sets=False;Connect Timeout=30;Encrypt=False;Trust Server Certificate=True;Application Name=\&quot;Microsoft SQL Server Data Tools, SQL Server Object Explorer\&quot;;Command Timeout=300" />
        <add name="XFDataManager.Properties.Settings.dbcloud" connectionString="Data Source=XRIG001\\SQLEXPRESS;Initial Catalog=XFDM2;Integrated Security=True;Multiple Active Result Sets=False;Connect Timeout=45;Encrypt=False;Trust Server Certificate=True;Application Name=\&quot;Microsoft SQL Server Data Tools, SQL Server Object Explorer\&quot;;Command Timeout=300" />
    </connectionStrings>
    <userSettings>
        <XFDataManager.Properties.Settings>
            <setting name="cropOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="filterviewByDate" serializeAs="String">
                <value>Week</value>
            </setting>
            <setting name="filterviewByStatus" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="SimpleMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="db" serializeAs="String">
                <value>dblocal</value>
            </setting>
            <setting name="dbselectlocal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="farmnr" serializeAs="String">
                <value>100</value>
            </setting>
        </XFDataManager.Properties.Settings>
    </userSettings>
</configuration>