<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XFDataManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XFDataManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="dblocal" connectionString="Data Source=XRIG001\SQLEXPRESS;Initial Catalog=XFDM2;Integrated Security=True;Multiple Active Result Sets=False;Connect Timeout=30;Encrypt=False;Trust Server Certificate=True;Command Timeout=300" />
        <add name="dbcloud" connectionString="Server=tcp:xericdbserver.database.windows.net,1433;Initial Catalog=XFDM2;Persist Security Info=False;User ID=XericApp;Password=SnickerD00dl3;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=45;" />
    </connectionStrings>
    <userSettings>
        <XFDataManager.Properties.Settings>
            <setting name="cropOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="filterviewByDate" serializeAs="String">
                <value>this Week</value>
            </setting>
            <setting name="filterviewByStatus" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="SimpleMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="db" serializeAs="String">
                <value>dblocal</value>
            </setting>
            <setting name="dbselectlocal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="farmnr" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Agmt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TaskMultiSelect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StockLow" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DefaultTraysSize" serializeAs="String">
                <value>1020</value>
            </setting>
            <setting name="CapAmount" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="CapTerm" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="CapInt" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="CapAdd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OvhMAnagement" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="OvhSalesPackaging" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OvhGrow" serializeAs="String">
                <value>7000</value>
            </setting>
            <setting name="IndInsurance" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="IndMembership" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="IndLicense" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IndVehicle" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="DefaultNoShowHarvestTerminated" serializeAs="String">
                <value>True</value>
            </setting>
        </XFDataManager.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <XFDataManager.Properties.Settings>
            <setting name="DefaultTaskRecipeType" serializeAs="String">
                <value>Crop</value>
            </setting>
        </XFDataManager.Properties.Settings>
    </applicationSettings>
</configuration>